name: lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::lintr
          dependencies: '"hard"'
          extra-repositories: 'https://mrc-ide.r-universe.dev'
      - name: Lint
        run: lintr::lint_package()
        shell: Rscript {0}
